<% include ./partials/header.ejs %>


<div class="container">
	<h3><%= hostground.name %></h3>
		<div class="thumbnail">
			<img src="<%= hostground.image %>">
		</div>
	<%= hostground.description %>
</div>

<% hostground.comments.forEach(function(comment){ %>
	<p>
		<strong> <%= comment.author %> </strong> - <%= comment.text %>
	</p>
<% }) %>

<a href="/hostgrounds/<%=hostground.id%>/edit"><button>Edit</button></a>

<form action = "/hostgrounds/<%= hostground.id %>?_method=DELETE" method="POST">
<button>Delete</button>
</form>


<% include ./partials/footer.ejs %>